extends layout

block content
  .content
    .title
      h1= title
    form(method='POST' action='')
      .formGroup
        label(for='name') Name:
        input(type='text' name='name' placeholder='Name' value = !!name ? name : '')
      .formGroup
        label(for='parentCategory') Parent Category:
        select(name="parentCategory")
          option(value=null, selected) None
          each category in categories
            if(category._id !== selfID)
            option(value=category.id)= category.name
      button(type='submit')= name ? 'Update' : 'Create'
  if errors
    ul.errors
      each error in errors
        li!= error.msg
  script(src="/javascripts/select.js" select=selected)