extends layout

block content
  .content
    .itemDisplay
      .itemInfo
        a(href=item.url + '/delete' style='text-align: left') 
          div(style='float: left') Delete
        span= item.name
        a(href=item.url + '/update' style='text-align: right')
          div(style='float: right') Update
      .itemView
        .leftPanel
          img(src="/images/" + item.name + '.jpg', alt=item.name)
        .rightPanel
          .price= '$' + item.price
          .inStock= 'In Stock: ' + item.inStock
          - shipment.sort(function(a, b) { var dateA = a.date; var dateB = b.date; return (a > b) ? 1 : (a < b) ? -1 : 0 })
          - shipment = shipment[0]
          if(item.inStock == 0 && shipment != null)
            .moreInStock(style='color: red')= 'More in stock: ' 
              a(href=shipment.url)= shipment.date
      .itemDescription
        | !{item.description.replace(/[ ]p[ ]/g, '<p>').replace(/ \/p /g, '</p>').replace(/ ul /g, '<ul>').replace(/ \/ul /g, '</ul><br>').replace(/ li /g, '<li>').replace(/ \/li /g, '</li>')}
