extends layout

block content
  -console.log(shipment);
  .content
    .back
      a(href=shipment.url + '/delete') Delete
    .halfTitle
      h1= title
    .spacer
      a(href=shipment.url + '/update') Update
    table
      tbody
        tr
          td Item
          td Item Quantity
        each item, index in shipment.items
          tr 
            td
              a(href=item.url)= item.name
            td= shipment.itemQuantities[index]
